
body{
  background:#050505;
  color:white;
  font-family:'Inter',sans-serif;
}

.nav-link{
  color:#d1d5db;
  position:relative;
  transition:.3s;
}

.nav-link:hover{
  color:#facc15;
}

.nav-link::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-8px;
  width:0;
  height:2px;
  background:#facc15;
  transition:.3s;
}

.nav-link:hover::after{
  width:100%;
}

#mobileMenu{
  box-shadow:-20px 0 80px rgba(0,0,0,.6);
}

#heroFood{
  transition: opacity .5s ease;
}

/* ========================= */
/* FEATURE CARDS */
/* ========================= */

.feature-card{
  background: rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(20px);

  transition:.4s ease;

  position:relative;

  overflow:hidden;
}

.feature-card::before{
  content:"";

  position:absolute;

  top:0;
  left:-100%;

  width:100%;
  height:100%;

  background:linear-gradient(
    90deg,
    transparent,
    rgba(250,204,21,.15),
    transparent
  );

  transition:.6s;
}

.feature-card:hover::before{
  left:100%;
}

.feature-card:hover{
  transform:translateY(-10px);

  border-color:#facc15;
}

/* ========================= */
/* SIGNATURE DISHES */
/* ========================= */

.dish-card{
  background:rgba(255,255,255,.04);
  border:1px solid rgba(255,255,255,.08);
  border-radius:30px;
  overflow:hidden;
  backdrop-filter:blur(20px);
  transition:.4s ease;
}

.dish-card:hover{
  transform:translateY(-12px);
  border-color:#facc15;
}

.dish-image{
  width:100%;
  height:280px;
  object-fit:cover;
  transition:.6s ease;
}

.dish-card:hover .dish-image{
  transform:scale(1.08);
}

.dish-btn{
  width:100%;
  padding:14px;
  border-radius:999px;
  background:#facc15;
  color:#000;
  font-weight:700;
  transition:.3s ease;
}

.dish-btn:hover{
  transform:scale(1.03);
}

.light-mode {
  background: #f8f8f8;
  color: #544747;
}

.light-mode nav,
.light-mode header {
  background: rgba(130, 79, 79, 0.9);
}

.light-mode h1,
.light-mode h2,
.light-mode h3 {
  color: #6c6385d4;
}

.light-mode p {
  color: #544e4e;
}